In [2]:
import numpy as np
import pandas as pd

In [5]:
ds= pd.read_excel("PCE.xlsx")
ds

        Name  hours  marks
0  Divyanshu      4     40
1      Ayush      5     50
2       Ajay      6     60
3      Umesh      7     70

In [7]:
x= ds["hours"]
x

0    4
1    5
2    6
3    7
Name: hours, dtype: int64

In [9]:
y= ds["marks"]
y

0    40
1    50
2    60
3    70
Name: marks, dtype: int64

In [10]:
# here we want to find the coorealtion between x and y and check that how they are impacting each othr
# here we can analyse that y= 10* x;
#only goal of ml is to find that cofficient

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
#y = cx
model =LinearRegression()

In [20]:
#convert one dimensional series of hours into 2d numpy
type(x.values)

numpy.ndarray

In [21]:
X= x.values.reshape(4,1)
X.shape

(4, 1)

In [22]:
model.fit( X , y )

LinearRegression()

In [24]:
model.predict([[5]])

array([50.])

In [25]:
model.coef_

array([10.])

In [26]:
import joblib
joblib.dump(model,"PCE marks")

['PCE marks']