In [2]:
db =[11,"divyanshu","ok",98765]

In [3]:
db[3]

98765

In [4]:
db.insert(2,"d@gmail.com")

In [5]:
db[3] #by using insert function we add data at the particular data

'ok'

#dictionary

In [15]:
dict ={ "id": 1,
        "name": "divyanshu",
        "remarks": "ok",
        "mob": 98789
      }

In [12]:
print(dict)
print(type(dict))

{'id': 1, 'name': 'divyanshu', 'remarks': 'ok', 'mob': 98789}
<class 'dict'>

In [8]:
dict["id"]

1

In [9]:
#dictionary is chosen over the list becuase we are the one who gives this index so there is no chance of redundancy in the case of append and insertion of data in list.

In [17]:
student= {
    "name": ["divyanshu","ayush","ajay"],
    "remarks": ["ok","good","vgood"],
    "mob": [111,222,333],
    }

In [18]:
student

{'name': ['divyanshu', 'ayush', 'ajay'],
 'remarks': ['ok', 'good', 'vgood'],
 'mob': [111, 222, 333]}

In [19]:
student["name"]

['divyanshu', 'ayush', 'ajay']

In [20]:
type(student)

dict

In [42]:
student["name"][1],student["remarks"][1],student["mob"][1]
#but we cant do row wise operation we can only do columnar operation

('ayush', 'good', 222)

In [80]:
#pandas intro:

import pandas as pd

In [81]:
new =pd.DataFrame(student)

In [82]:
new["mob"]

0    111
1    222
2    333
Name: mob, dtype: int64

In [83]:
new[["name","mob"]] #column wise operation

        name  mob
0  divyanshu  111
1      ayush  222
2       ajay  333

In [84]:
new.loc[2]

name        ajay
remarks    vgood
mob          333
Name: 2, dtype: object

In [94]:
df1 = pd.read_csv("aaa.csv")

In [95]:
df1

,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2,1,39.07
0,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.0
1,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.0
2,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.0
3,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.0
4,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.0
...,...,...,...,...,...,...,...,...,...
13314,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.0
13315,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.0
13316,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.0
13317,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.0
13318,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.0

In [1]:
import pywhatkit

ModuleNotFoundError: No module named 'pywhatkit'

In [ ]:
number="+91 8000364886"
msg= “jai mata di”
pywhatkit.sendwhatmsg(number,msg , 16, 10)