#more about list

In [23]:
names= ["vimal","ayush","ajay","rahul"]
import numpy as np

In [2]:
cnames = names

In [3]:
names

['vimal', 'ayush', 'ajay', 'rahul']

In [4]:
cnames

['vimal', 'ayush', 'ajay', 'rahul']

In [5]:
cnames[1]= "divyanshu"

In [6]:
cnames #change in 2nd list but it will also affect he first list

['vimal', 'divyanshu', 'ajay', 'rahul']

In [7]:
names #isme bhi update ho gya

['vimal', 'divyanshu', 'ajay', 'rahul']

In [8]:
id(names)

2276580916288

In [9]:
id(cnames)

2276580916288

In [10]:
#look both variable has same id or location wheree it is stores in ram so it not making copy of data.

In [13]:
#Technique 1 of copying data
a=[1,2,3,5]
print(a)
id(a)

[1, 2, 3, 5]

2276601289280

In [14]:
b= a[:]
print(b)
id(b)

[1, 2, 3, 5]

2276609604800

In [18]:
#technique to copy by importing copy modeule
#shallow copy 
import copy
d = copy.copy(a)
print(d)
id(d)

[1, 2, 3, 5]

2276621340096

In [27]:
db= [1,"divyanshu",[911,100]]
db

[1, 'divyanshu', [911, 100]]

In [28]:
len(db)

3

In [29]:
lwdb = copy.copy(db)

In [30]:
id(db)

2276627201280

In [31]:
id(lwdb)

2276626851584

In [33]:
lwdb[2][0]=999999
lwdb

[1, 'divyanshu', [999999, 100]]

In [34]:
db

[1, 'divyanshu', [999999, 100]]

In [35]:
#shallow copy is not available in case of n dimensional list..(it will update changes in first list)
#so use deep copy instead of normal copy

In [36]:
dc=copy.deepcopy(db)

In [37]:
dc[2][0]=3333
dc

[1, 'divyanshu', [3333, 100]]

In [39]:
db     #look now it is not changing in the first datbase

[1, 'divyanshu', [999999, 100]]

# Functions

In [41]:
#function is like a box which contain block of code which can be impleamnetd again and again by callinf the function

In [48]:
def lw () :
    x=5
    print(x)
    y=7
    print(y)
    
print("alag hu mein isme") #thats why indentation is used ,just to break it from function

alag hu mein isme

In [46]:
lw()  #calling a function

5
7

In [50]:
def my():
    print("my name  is divyanshu")

print("i am ayush joshi")

i am ayush joshi

In [51]:
my()

my name  is divyanshu

In [52]:
id(my)

2276612187472

In [57]:
mynew = my()

my name  is divyanshu

In [61]:
mynew  # it will return noone value

In [60]:
id(mynew)

140704381574360

In [65]:
latest = my  #make copy of function and store in variable

In [66]:
latest()

my name  is divyanshu

In [67]:
id(latest)

2276612187472

 #example 2

In [77]:
def name():
    print("divyanshu tailor")
    return("ayush joshi")

In [78]:
myname = name()

divyanshu tailor

In [79]:
myname  #not returning anything so use return instead of print

'ayush joshi'

In [90]:
#passing varibale in function

def fcuk(x):
    print(" iam",x)

In [91]:
fcuk("jai ho")

 iam jai ho

In [98]:
def sum(,x=0,y=0,z=0):
    p = x+y+z
    return("the total sum is :",p)

In [99]:
sum(9,8,20)

('the total sum is :', 37)

In [100]:
sum()

('the total sum is :', 0)

For loop

In [101]:
mob =[111,222,333,444,555]

In [102]:
#iteration:

for x in mob:
    print(x)

111
222
333
444
555

In [ ]:
#task
#pthon library to send whatsapp messages
#pthon library to send  email
#pthon library to send  sms